 <div class="row heading custom-row">
    <h4>Twitter</h4>
  </div>
  <div class="row custom-row">
    <div class="col-md-6 margin-top-10 input_row ">
      <textarea class="form-control margin-top-10" ng-model="twitterDesc" rows="6" cols="30" placeholder="Enter 140 characters"></textarea>
    </div>
  </div>
  <div class="row custom-row">
    <div class="pull-right save_skip save_skip_twitter">
      <div class="btn btn-sm btn-default" ng-click="skip('twitter',$index)">SKIP</div>
      <div class="btn btn-sm btn-primary" ng-click="saved('twitter',$index)">SAVE &amp; CONTINUE</div>
    </div>
  </div>