<div class="row">
  <div class="col-md-3 campaign_heading">
    <h3>Campaigns</h3>
  </div>
  <div class="col-md-9">
    <div class="dashboard_heading">
      <h3>Heading Name</h3>
    </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-3 mycampaigns">
    <accordion close-others="oneAtATime">
    <accordion-group 
      heading="{{group.title}}" 
      ng-repeat="group in groups" 
      is-open="group.open" 
      ng-class="{open: group.open === true}">
      {{group.content}}
    </accordion-group>
  </accordion>
  </div>
  <div class="col-md-9">
    <div class="row mytables">
      <div class="col-md-4"  >
        <table class="table mytable tableDisplay" id="areachart">
          <tr>
            <th class="myheading headingDisplay" colspan="4">Display</th>
          </tr>
          <tr>
            <td class="myicon" rowspan="4"><img src="images/icon_6.png" /></td>
            <td class="left-aligned">Impressions</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">5999391</td>
          </tr>
          <tr>
            <td class="left-aligned">Clicks</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">781032</td>
          </tr>
          <tr>
            <td class="left-aligned">CTR</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">0.29</td>
          </tr>
          <tr>
            <td class="left-aligned">Ad Spent</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">139472</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4" >
        <table class="table mytable tableEmail" id="piechart">
          <tr>
            <th class="myheading headingEmail" colspan="4">Email</th>
          </tr>
          <tr>
            <td class="myicon" rowspan="4"><img src="images/icon_7.png" /></td>
            <td class="left-aligned">Sent</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">3500</td>
          </tr>
          <tr>
            <td class="left-aligned">Opened</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">2500</td>
          </tr>
          <tr>
            <td class="left-aligned">Saved</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">1000</td>
          </tr>
          <tr>
            <td class="left-aligned">Clicked</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">3800</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table mytable tableSms" id="stackchart">
          <tr>
            <th class="myheading headingSms" colspan="4">SMS</th>
          </tr>
          <tr>
            <td class="myicon" rowspan="4"><img src="images/icon_8.png" /></td>
            <td class="left-aligned">Sent</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">170984</td>
          </tr>
          <tr>
            <td class="left-aligned">Deliverd</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">151983</td>
          </tr>
          <tr>
            <td class="left-aligned">Career</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">576</td>
          </tr>
          <tr>
            <td class="left-aligned">Bounced</td>
            <td class="center-aligned">-</td>
            <td class="right-aligned">1191</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mygraph">
          <div id="flotcontainer"></div>
          <!-- <div id="padWidthArea"></div>
          <div id="padHeightArea"></div>
          <div id="padWidthStack"></div>
          <div id="padHeightStack"></div> -->
          <div id="chartLegend"></div>
          <div id="chartLegendPie"></div>
        </div>
      </div>
    </div>
  </div>
</div>  