<div class="row">
  <div class="seg_rule_heading">
    <h3>Saved Segments</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row" ng-repeat="segment in savedSegments">
      <div class="col-md-8">
        <div class="saved_segment_name">{{segment.name}}</div>
      </div>
      <div class="col-md-4">
        <div class="saved_segment_buttons">
           <div class="right_btn" ng-click="engageSegment(segment.name,segment.desc)">
            <img src="./images/tick.png" />
          </div>
          <div class="edit_btn">
            <img src="./images/edit.png" />
          </div>
          <div class="delete_btn" >
            <img src="./images/d.png" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-1">
    <div class="row" ng-repeat="segment in savedSegments">
      <div class="col-md-5">
        <div class="myreach">
          <h5>Total Reach ({{segment.formattedValue}})</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="myprogress">
          <progressbar 
            value="segment['reach']" 
            type="warning" 
            max="segment['maxValue']">
          </progressbar>
        </div>
      </div>
    </div>
  </div>
</div>
