<div class="row">
  <div class="seg_rule_heading">
    <h3>Saved Segements</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-8">
        <div class="saved_segment_name">Segment 1</div>
      </div>
      <div class="col-md-4">
        <div class="saved_segment_buttons">
           <div class="right_btn">
            <img src="./images/tick.png" />
          </div>
          <div class="edit_btn">
            <img src="./images/edit.png" />
          </div>
          <div class="delete_btn" >
            <img src="./images/d.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="saved_segment_name">Segment 2</div>
      </div>
      <div class="col-md-4">
        <div class="saved_segment_buttons">
           <div class="right_btn">
            <img src="./images/tick.png" />
          </div>
          <div class="edit_btn">
            <img src="./images/edit.png" />
          </div>
          <div class="delete_btn" >
            <img src="./images/d.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="saved_segment_name">Segment 3</div>
      </div>
      <div class="col-md-4">
        <div class="saved_segment_buttons">
           <div class="right_btn">
            <img src="./images/tick.png" />
          </div>
          <div class="edit_btn">
            <img src="./images/edit.png" />
          </div>
          <div class="delete_btn" >
            <img src="./images/d.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="saved_segment_name">Segment 4</div>
      </div>
      <div class="col-md-4">
        <div class="saved_segment_buttons">
           <div class="right_btn">
            <img src="./images/tick.png" />
          </div>
          <div class="edit_btn">
            <img src="./images/edit.png" />
          </div>
          <div class="delete_btn" >
            <img src="./images/d.png" />
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-5 col-md-offset-1">
    <div class="row">
      <div class="col-md-5">
        <div class="myreach">
          <h5>Total Reach (53,88,453)</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="myprogress">
          <progressbar value="5388453" type="warning" max="6500000">
            <b></b>
          </progressbar>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="myreach">
          <h5>Total Reach (21,78,021)</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="myprogress">
          <progressbar value="2178021" type="warning" max="6500000">
            <b></b>
          </progressbar>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="myreach">
          <h5>Total Reach (33,00,913)</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="myprogress">
          <progressbar value="3300913" type="warning" max="6500000">
            <b></b>
          </progressbar>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="myreach">
          <h5>Total Reach (13,38,100)</h5>
        </div>
      </div>
      <div class="col-md-7">
        <div class="myprogress">
          <progressbar value="1338100" type="warning" max="6500000">
            <b></b>
          </progressbar>
        </div>
      </div>
    </div>
  </div>
</div>
