<div class="tab4">
  <div class="row">
    <div class="seg_rule_heading">
      <h3>Upload Ad Content </h3>
    </div>
    <span class="segment_name_title">Name:</span>
    <div class="segment_name">
      {{engagedSegment.name}}
    </div>
  </div>
  <div class="row">
    <span class="segment_tabs_title">Channels:</span>
    <tabset fade="true">
      <tab ng-repeat="adtab in adTabs" 
           class="{{$rootScope.adContent[(adtab.name.toLowerCase())]['saved'] === 'Yes' ? 'done': ''}}" 
           heading="{{adtab.name}}" 
           active="adtab.active" 
           disabled="adtab.disabled" >
           <div class="active_container animated pulse" ng-include src="adtab.route" ></div>
      </tab>
    </tabset>
  </div>
</div>
