div.datepicker {
  padding-top: 4px;
}
div.datepicker thead,
div.datepicker th {
  text-align: center;
}
div.datepicker td {
  padding: 0;
}
div.datepicker .btn {
  border-radius: 0;
}
div.datepicker .btn.included {
  background-color: #b9d4ec;
}
.date-range .css-table {
  padding: 0 5px;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}
.date-range .selected-range {
  padding: 5px 10px 0;
  font-size: 13px;
}
.date-range .selected-range code {
  background-color: transparent;
}
.date-range .dt-box {
  display: table-cell;
  vertical-align: top;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 5px;
  min-width: 120px;
}
.date-range .dt-box:last-child {
  border: 0 none;
  padding: 0 5px 0 10px;
}
.date-range .dt-box .btn {
  border-color: #eee;
}
.date-range .dropdown-menu {
  left: inherit;
  right: 0;
}
.picker-button {
  float: right;
  margin-bottom: 5px;
}
.picker-button + * {
  clear: none;
}
