<div class="datepicker">
  <table>
    <!-- secondary: last month, disabled: disabled -->
    <thead>
      <tr>
        <th>
          <button type="button" class="btn btn-default btn-xs no-border" ng-click="move(-1)">
            <span class="fa fa-arrow-left"> </span>
          </button>
        </th>
        <th colspan="{{rows[0].length - 2}}"><strong>{{ title }}</strong></th>
        <th>
          <button type="button" class="btn btn-default btn-xs no-border" ng-click="move(1)">
            <span class="fa fa-arrow-right"> </span>
          </button>
        </th>
      </tr>
      <tr ng-show="labels.length > 0">
        <th class="text-center" ng-repeat="label in labels track by $index"><h6>{{ label[0] }}</h6></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-repeat="dt in row" class="text-center">
          <button
            type="button"
            class="btn btn-xs no-border"
            ng-class="{'btn-primary': dt.selected, 'btn-default': !dt.selected, 'included': dt.included && !dt.selected && !dt.secondary}"
            ng-click="select(dt.date)"
            ng-disabled="dt.disabled">
            <span ng-class="{'text-muted': dt.secondary && !dt.selected}">{{dt.label}}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
